/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

/* Document
   ========================================================================== */

/**
 * Use a better box model (opinionated).
 */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Use a more readable tab size (opinionated).
 */

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct height in Firefox.
 */

hr {
	height: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
	padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */

progress {
	vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Chrome and Safari.
 */

summary {
	display: list-item;
}

body {
  margin: 10px;
  font-family: system-ui -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

main {
  display: block;
}

section, article, aside, nav, blockquote, span, dd, dt, samp, button {
  padding: calc(5px * 2);
  margin: calc(5px * 2) calc(5px * 2) calc(5px * 2) 0;
  border-radius: 5px;
  background-color: #343a40;
  overflow: auto;
}

section article, article section, article aside, section aside {
  background: #495057;
}

nav {
  display: flex;
  background: #212529;
  margin: 0;
}

nav > * {
  display: inline;
  background: #343a40;
  margin-right: calc(5px * 2);
  padding: calc(calc(5px * 2) * 0.8) calc(calc(5px * 2) * 2);
  border-radius: 5px;
}

nav * {
  text-decoration: none;
}

body > footer {
  display: flex;
  justify-content: center;
}

body > footer > * {
  background-color: #343a40;
  margin: calc(5px * 2);
  padding: calc(calc(5px * 2) * 0.8) calc(calc(5px * 2) * 2);
  border-radius: 5px;
}

body > footer * {
  text-decoration: none;
}

aside {
  max-width: 35%;
  float: right;
  background-color: #343a40;
}

@media(max-width: 700px) {
  aside {
    float: none;
    display: none;
  }

  .flex {
    flex-direction: column;
  }
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: calc(5px * 2) 0;
}

p {
  margin: calc(5px * 2) 0;
}

a {
  color: #1c7ed6;
}

a:hover {
  color: #ae3ec9;
}

a:visited {
  color: #ae3ec9;
}

a:active {
  color: #ae3ec9;
}

ul, ol {
  padding: 0 0 0 calc(calc(5px * 2) * 2);
  border-radius: 5px;
  border: 2px solid #343a40;
}

li {
  margin: calc(5px * 2);
}

blockquote {
  background-color: #343a40;
  border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

blockquote > footer {
  padding-left: 20px;
}

del, ins {
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5px;
}

del {
  background: #e03131;
}

ins {
  background: #2f9e44;
}

dl {
  border: 2px solid #343a40;
  padding: calc(5px * 2);
  border-radius: 5px;
}

dt {
  border-bottom: 2px solid #343a40;
}

dd {
  margin-left: 40px;
}

pre {
  padding: 5px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  background: #343a40;
  overflow: hidden;
}

mark {
  padding: 1px 3px;
  background: #f59f00;
  border-radius: 5px;
}

kbd {
  border-radius: 5px;
  padding: 2px;
  border: calc(2px / 2) solid #ced4da;
}

u {
  -webkit-text-decoration: #ff8787 wavy underline;
          text-decoration: #ff8787 wavy underline;
}

samp, button {
  display: inline-block;
  border: 2px solid #ced4da;
  margin: calc(5px * 2) 0;
}

button {
  color: #f8f9fa;
  background: inherit;
  cursor: pointer;
  padding: 5px calc(5px * 2);
}

button:hover {
  color: #212529;
  background: #ced4da;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  padding: calc(5px * 2) 0;
  background-color: #343a40;
}

section caption, article caption {
  background-color: #495057;
}

th,
td {
  padding: calc(calc(5px * 2) * 2);
  border-radius: 5px;
  text-align: left;
  border: 2px solid #343a40;
}

section th, section td, article th, article td {
  border: 2px solid #495057;
}

form {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #343a40;
}

input, select, textarea {
  border: 2px solid #343a40;
  border-radius: 5px;
  padding: calc(calc(5px * 2) * 0.8);
  margin: 5px 5px 5px 0;
  background: #495057;
  color: #f8f9fa;
}

textarea {
  width: 100%;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='radio'], input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  top: 10px;
  cursor: pointer;     
}

input[type='radio'] {
  border-radius: 50px;
}

input[type='checkbox'] {
  border-radius: 1px;
}

input[type='radio']:checked, input[type='checkbox']:checked {
  background-color: #868e96;
  transition: all 0.1s ease-in;
}

hr {
  border: none;
  height: 2px;
  border-radius: 2px;
  background-color: #495057;
}

img,
video {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}

iframe {
  border: 0;
}

video, audio {
  border-radius: 5px;
}

figure {
  margin: 5px;
}

fieldset {
  border: 2px solid #343a40;
  border-radius: 5px;
  margin: 0;
}

legend {
  padding: 5px;
}

summary, details {
  padding: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #f8f9fa;
  background-color: #212529;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
