form {
  border-radius: $border-radius;
  padding: 5px;
  border: $border-thickness solid $border-color-light;
}

input, select, textarea {
  border: $border-thickness solid $border-color-light;
  border-radius: $border-radius;
  padding: 8px;
  margin: 5px 5px 5px 0;
  background: $form-input-bg-color;
  color: $html-font-color;
}

textarea {
  width: 100%;
}

select {
  appearance: none;
}

input[type='submit'] {
  cursor: pointer;
}


input[type='radio'], input[type='checkbox'] {
  appearance: none;
  position: relative;
  top: 10px;
  cursor: pointer;     
}

input[type='radio'] {
  border-radius: 50px;
}

input[type='checkbox'] {
  border-radius: 1px;
}

input[type='radio']:checked, input[type='checkbox']:checked {
  background-color: $bg-3;
  transition: all 0.1s ease-in;
}