body {
  margin: 10px;
  font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

main {
  display: block;
}

section, article, aside, nav, blockquote, span, dd, dt, samp, button {
  padding: $ws-medium;
  /* margin: $ws-medium $ws-medium 0 0; */
  border-radius: $border-radius;
  background-color: $bg-1;
  overflow: auto;
}

// darken background if nested
section article, article section, article aside, section aside {
  background: $bg-2;
}

// nav
nav {
  display: flex;
  background: $bg-0;
  margin: 0;
}

nav > * {
  display: inline;
  background: $bg-1;
  margin-right: $ws-medium;
  padding: calc($ws-medium * 0.8) $ws-large;
  border-radius: $border-radius;
}

nav * {
  text-decoration: none;
}

// footer
body > footer {
  display: flex;
  justify-content: center;
}

body > footer > * {
  background-color: $bg-1;
  margin: $ws-medium;
  padding: calc($ws-medium * 0.8) $ws-large;
  border-radius: $border-radius;
}

body > footer * {
  text-decoration: none;
}

// aside view
aside {
  max-width: 35%;
  float: right;
  background-color: $bg-1;
}

// flex
.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}

.flex > * ~ * {
  margin-left: 10px;
}

@media(max-width: $aside-display-bounds) {
  aside {
    float: none;
    display: none;
  }

  .flex {
    flex-direction: column;
  }

  .flex > * ~ * {
    margin-left: unset;
    margin-top: 10px;
  }
}
