body {
  margin: 10px;
  line-height: 1.5;
  font-family: system-ui -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

section, article, aside, nav, div, blockquote, span, dd, dt, samp, button {
  padding: $ws-large;
  margin: $ws-large;
  border-radius: $border-radius;
  background-color: $bg-1;
  /* overflow: auto; */
}

// darken background if nested
section > article, article > section, article > aside, section > aside, section > div, article > div {
  background-color: $bg-2;
}

// nav
body > nav {
  display: flex;
}

body > nav > * {
  display: inline;
  background-color: $bg-1;
}

body > nav * {
  text-decoration: none;
}

// footer
body > footer {
  display: flex;
  justify-content: center;
}

body > footer > * {
  background-color: $bg-1;
  padding: 8px 20px;
}

body > footer * {
  text-decoration: none;
}

// aside view
aside {
  max-width: 35%;
  float: right;
  background-color: $bg-1;
}

@media(max-width: $aside-display-bounds) {
  aside {
    float: none;
    display: none;
  }

  .flex {
    flex-direction: column;
  }
}

// flex
.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}

