body {
  font-family: system-ui -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 10px;
}

// general
div {
  margin: 10px;
  padding: 5px;
}

header, footer, nav {
  padding: 5px 0;
}

main {
  margin: 5px;
}

section, article, aside {
  padding: 5px;
  margin: 0 0 10px;
  border-radius: 5px;
  overflow: auto;
  background-color: $oc-gray-1;
}

article > section, section > article, article > aside, section > aside {
  background-color: $oc-gray-2;
}

// nav
nav {
  display: flex;
}

nav * {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: $oc-gray-1;
  text-decoration: none;
}

// footer
body > footer {
  display: flex;
  justify-content: center;
}

body > footer a {
  text-decoration: none;
}

body > footer div {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: $oc-gray-1;
}

// aside view
aside {
  width: auto;
  max-width: 35%;
  margin: 10px;
  float: right;
  background-color: $oc-gray-1;
}

@media(max-width: 700px) {
  aside {
    float: none;
    display: none;
  }
}

// flex
.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}

.flex > * {
  background-color: $oc-gray-2;
  border-radius: 5px;
}

// grid
.grid {
  display: grid;
}