@import 'normalize';
@import 'open-color';

@import 'layout';
@import 'text';
@import 'table';
@import 'form';
@import 'misc';

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  color: $oc-gray-9;
  background-color: $oc-gray-0;
}
