@import "normalize.css";
@import "open-color.css";

html {
  color: $oc-gray-9;
  background-color: $oc-gray-0;
}

body {
  font-family: system-ui -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
