hr {
	border: none;
	height: 2px;
	border-radius: 2px;
	background-color: var(--bg-2);
}

img,
video {
	height: auto;
	max-width: 100%;
	border-radius: var(--border-radius);
}

iframe {
	border: 0;
}

video,
audio {
	border-radius: var(--border-radius);
}

figure {
	margin: var(--ws-small);
}

summary {
	padding: var(--ws-small);
}

summary {
	border: var(--border-thickness) solid var(--border-color-light);
	border-radius: var(--border-radius);
}
