hr {
  border: none;
  height: 2px;
  border-radius: 2px;
  background-color: $bg-2;
}

img,
video {
  height: auto;
  max-width: 100%;
  border-radius: $border-radius;
}

iframe {
  border: 0;
}

video, audio {
  border-radius: $border-radius;
}

figure {
  margin: $ws-small;
}

summary {
  padding: $ws-small;
}

summary {
  border: $border-thickness solid $border-color-light;
  border-radius: $border-radius;
}
