table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	padding: var(--ws-medium) 0;
	background-color: var(--bg-1);
}

section caption,
article caption {
	background-color: var(--bg-2);
}

th,
td {
	padding: var(--ws-large);
	border-radius: var(--border-radius);
	text-align: left;
	border: var(--border-thickness) solid var(--border-color-light);
}

section th,
section td,
article th,
article td {
	border: var(--border-thickness) solid var(--bg-2);
}
