h1, h2, h3, h4, h5, h6 {
  margin-bottom: $ws-medium;
}

p {
  margin-bottom: $ws-medium;
}

a {
  color: $a-normal;
}

a:hover {
  color: $a-hover;
}

a:visited {
  color: $a-visited;
}

a:active {
  color: $a-active;
}

ul, ol {
  padding-left: $ws-large;
  border-radius: $border-radius;
  border: $border-thickness solid $border-color-light;
}

li {
  margin: $ws-medium;
}

blockquote {
  background-color: $bg-1;
  border-radius: $border-radius;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

blockquote > footer {
  padding-left: 20px;
}

del, ins {
  border-radius: $border-radius;
  text-decoration: none;
  padding: 0.5px;
}

del {
  background: $del-bg-color;
}

ins {
  background: $ins-bg-color;
}

dl {
  margin-block-end: $ws-medium;
  border: $border-thickness solid $border-color-light;
  padding: $ws-medium;
  border-radius: $border-radius;
}

dt {
  margin-bottom: $ws-medium;
  border-bottom: $border-thickness solid $border-color-light;
}

dd {
  margin-bottom: $ws-large;
  margin-left: 40px;
}

dd:last-child {
  margin-bottom: unset;
}

pre {
  padding: $ws-small;
  margin: $ws-small $ws-small $ws-small 0;
  border-radius: $ws-small;
  background: $bg-1;
  overflow: hidden;
}

mark {
  padding: 1px 3px;
  background: $mark-bg-color;
  border-radius: $border-radius;
}

kbd {
  border-radius: 5px;
  padding: 2px;
  border: calc($border-thickness / 2) solid $border-color-dark;
}

u {
  text-decoration: $u-underline-color wavy underline;
}

samp, button {
  display: inline-block;
  border: $border-thickness solid $border-color-dark;
  margin: $ws-medium 0;
}

button {
  color: $html-text-color;
  background: inherit;
  cursor: pointer;
  padding: $ws-small $ws-medium;
}

button:hover {
  color: $bg-0;
  background: $border-color-dark;
}
