h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

p {
  margin: 10px 0;
}

a {
  color: $oc-indigo-7;
}

a:hover {
  color: $oc-grape-7;
}

a:visited {
  color: $oc-grape-7;
}

a:active {
  color: $oc-red-7;
}

ul, ol {
  padding: 0 0 0 20px;
  margin: 15px 15px 15px 0;

  border: 2px solid $oc-gray-2;
  border-radius: 5px;
}

li {
  margin: 10px;
}

blockquote {
  background-color: $oc-gray-1;
  border-radius: 5px;
  padding: 10px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

del, ins {
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5px;
}

del {
  background-color: $oc-red-2;
}

ins {
  background-color: $oc-green-2;
}

dl {
  border: 1px solid $oc-gray-3;
  padding: 10px;
  border-radius: 5px;
}

dt {
  border-bottom: 2px solid $oc-gray-2;
  padding: 0 0 2px;
  margin: 0 0 5px;
}

dd {
  margin: 10px 10px 10px 40px;
}

pre {
  border-radius: 5px;
  background-color: $oc-gray-1;
}

mark {
  background: $oc-yellow-2;
  border-radius: 4px;
}

kbd {
  background-color: $oc-gray-2;
  border-radius: 5px;
  padding: 2px;
}

u {
  text-decoration: $oc-orange-4 wavy underline;
}
