h1,
h2,
h3,
h4,
h5,
h6 {
	/* margin-block-end: var(--ws-small); */
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-block-start: var(--ws-large);
}

div + p, /* TODO */
p + p,
figure + p,
ul + p,
ol + p,
blockquote + p,
pre + p,
table + p {
	margin-block-start: var(--ws-medium);
}

p {
	line-height: 140%;
	margin-block-end: var(--ws-medium);
}

a {
	color: var(--ws-medium);
	text-decoration-color: var(--a-normal);
}

a:visited {
	text-decoration-color: var(--a-visited);
}

a:hover {
	text-decoration-color: var(--a-hover);
}

a:active {
	text-decoration-color: var(--a-active);
}

ul,
ol {
	padding-inline-start: var(--ws-large);
	border-radius: var(--border-radius);
}

li {
	margin: var(--ws-medium);
}

blockquote {
	background-color: var(--bg-1);
	border-radius: var(--border-radius);
}

blockquote::before {
	content: open-quote;
	font-size: 1.2rem;
	font-weight: bold;
}

blockquote::after {
	content: close-quote;
	font-size: 1.2rem;
	font-weight: bold;
}

blockquote > p {
	margin-block-end: 0; /* TODO */
	display: inline;
}

figure > blockquote + figcaption {
	margin-left: calc(var(--ws-small) - 3px);
	border-left-style: solid;
	border-inline-start-width: 3px;
	border-left-color: var(--border-color-dark);
	padding-inline-start: 5px;
}

del,
ins {
	border-radius: var(--border-radius);
	text-decoration: none;
	padding: 0.5px;
}

del {
	background: var(--del-bg-color);
}

ins {
	background: var(--ins-bg-color);
}

dl {
	margin-block-start: 0;
	margin-block-end: var(--ws-medium);
	border: var(--border-thickness) solid var(--border-color-light);
	padding: var(--ws-medium);
	border-radius: var(--border-radius);
}

dt {
	margin-bottom: var(--ws-medium);
	border-bottom: var(--border-thickness) solid var(--border-color-light);
}

dd {
	margin-bottom: var(--ws-large);
	margin-left: 40px;
}

dd:last-child {
	margin-bottom: unset;
}

pre {
	padding: var(--ws-small);
	margin: var(--ws-small) var(--ws-small) var(--ws-small) 0;
	border-radius: var(--ws-small);
	background: var(--bg-1);
	overflow: hidden;
}

mark {
	padding: 1px 3px;
	background: var(--mark-bg-color);
	border-radius: var(--border-radius);
}

kbd {
	border-radius: 5px;
	padding: 2px;
	border: calc(var(--border-thickness) / 2) solid var(--border-color-dark);
}

u {
	text-decoration: var(--u-underline-color) wavy underline;
}

samp,
button {
	display: inline-block;
	border: var(--border-thickness) solid var(--border-color-dark);
	margin: var(--ws-medium) 0;
}

button {
	color: var(--html-text-color);
	background: inherit;
	cursor: pointer;
	padding: var(--ws-small) var(--ws-medium);
}

button:hover {
	color: var(--bg-0);
	background: var(--border-color-dark);
}
