$html-text-color: $oc-gray-0;
$html-bg-color: $oc-gray-9;

// shared \\
$border-radius: 5px;

// the <aside> element disappears when the screen is
// less than or equal to this pixel length
$aside-display-bounds: 700px;

// background levels (only two)
$bg-0: $oc-gray-9;
$bg-1: $oc-gray-8;
$bg-2: $oc-gray-7;
$bg-3: $oc-gray-6;

// borders
$border-thickness: 2px;
$border-color-light: $oc-gray-8;
$border-color-medium: $oc-gray-6;
$border-color-dark: $oc-gray-4;

// whitespace (not used)
$ws-small: 5px;
$ws-large: 10px;


// text \\
$a-normal: $oc-indigo-7;
$a-hover: $oc-grape-7;
$a-visited: $oc-grape-7;
$a-active: $oc-red-7;

$del-bg-color: $oc-red-8;
$ins-bg-color: $oc-green-8;

$mark-bg-color: $oc-yellow-7;

$u-underline-color: $oc-red-4;

$form-input-bg-color: $oc-gray-7;
